@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: rgb(252,50,49,0.8);
  --yellow: rgb(252,249,37,0.8);
  --orange: rgb(255,157,0,0.8);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-image: linear-gradient(90deg,var(--red),var(--orange),var(--yellow));
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  color: white;
}


.container {
  width: 100%;
  margin: 50px auto 0 auto;
  max-width: 400px;
}

header {
  text-align: center;
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

#survey-form {
  background: rgba(255,2,2,0.3);
  padding: 2.5rem 0.625rem;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-group input {
  width: 100%;
  height: 2.375rem;
  border-radius: 10px;
  border: 1px solid #999999;
  outline-color: blue;
  padding: 5px 10px;
}


.form-group label {
  margin-bottom: 10px;
}

@media (min-width: 682px) {
  .container {
    max-width: 720px;
  }
}
 



